@model IEnumerable<ProductDTO>
@{
    ViewData["Title"] = "Manage Products";
    var editProduct = ViewBag.EditProduct as ProductDTO;
}


<div class="flex justify-between items-center mb-6">
    <h2 class="text-2xl font-semibold text-gray-800">📂 Product Management</h2>
    <button onclick="openEntityModal('Product','Create' )"
            class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700">
        ➕ Add Product
    </button>
</div>


<table class="min-w-full bg-white rounded shadow overflow-hidden">
    <thead class="bg-blue-50 text-gray-700">
        <tr>
            <th class="text-left px-6 py-3">Name</th>
            <th class="text-left px-6 py-3">ISBN</th>
            <th class="text-left px-6 py-3">Price</th>
            <th class="text-left px-6 py-3">Actions</th>
        </tr>
    </thead>
    <tbody class="divide-y text-gray-700">
        @foreach (var product in Model)
        {
            <tr class="hover:bg-gray-50 transition">
                <td class="px-6 py-4">@product.Title</td>
                <td class="px-6 py-4">@product.ISBN</td>
                <td class="px-6 py-4">@product.Price</td>
                <td class="px-6 py-4 space-x-2">
                    <a href="#" onclick="openEntityModal('Product','Edit' ,'@product.Id')" class="text-blue-600 hover:underline">Edit</a>
                    <a href="#" onclick="callApi('/Category/Delete/@product.Id','PUT')" class="text-red-600 hover:underline">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_FileScriptPartial" />
