@model Bulky_DTO.Identity.RoleDTO

<input type="hidden" name="Id" value="@Model?.Id" />
<div>
    <label class="block text-sm font-medium text-gray-700 mb-1" for="Name">Role Name</label>
    <input type="text" name="Name" id="Name" value="@Model?.Name"
           class="w-full border px-3 py-2 rounded focus:ring focus:ring-blue-300" required />
</div>